問題解決マスターお疲れ様です。
動作確認も出来ましたので、Aに昇格です！おめでとうございます！！
補足として作成して頂いたコードにコメントを記載しておりますので、参考にどうぞ。原

In [1]:
import pandas as pd

In [2]:
# サンプルデータ
suudoku = [
    [   1,    7,    2,    9,    5, None, None,    8,    6],
    [   9, None, None,    4,    8, None, None,    3,    7],
    [   8, None,    3, None,    1,    7,    9,    5, None],
    [None, None,    6, None, None,    8,    7,    4, None], 
    [   3,    1, None,    5, None, None,    2, None, None],
    [None, None,    4,    7,    9,    1,    5,    6, None], 
    [None,    2, None,    1, None, None,    8, None,    5],
    [None, None, None, None, None, None,    6,    1,    9],
    [None, None, None, None,    7, None,    3, None, None]
]

In [3]:
df = pd.DataFrame(suudoku)
df

     0    1    2    3    4    5    6    7    8
0  1.0  7.0  2.0  9.0  5.0  NaN  NaN  8.0  6.0
1  9.0  NaN  NaN  4.0  8.0  NaN  NaN  3.0  7.0
2  8.0  NaN  3.0  NaN  1.0  7.0  9.0  5.0  NaN
3  NaN  NaN  6.0  NaN  NaN  8.0  7.0  4.0  NaN
4  3.0  1.0  NaN  5.0  NaN  NaN  2.0  NaN  NaN
5  NaN  NaN  4.0  7.0  9.0  1.0  5.0  6.0  NaN
6  NaN  2.0  NaN  1.0  NaN  NaN  8.0  NaN  5.0
7  NaN  NaN  NaN  NaN  NaN  NaN  6.0  1.0  9.0
8  NaN  NaN  NaN  NaN  7.0  NaN  3.0  NaN  NaN

In [17]:
# リスト内包表記で行数削減できそうですね
first = [suudoku[i][j] for i in range(3) for j in range(3)]
print(first)

[1, 7, 2, 9, None, None, 8, None, 3]

In [4]:
#左上の３×３をfirstとする
first = [suudoku[0][0],suudoku[0][1],suudoku[0][2],
         suudoku[1][0],suudoku[1][1],suudoku[1][2],
         suudoku[2][0],suudoku[2][1],suudoku[2][2]]
print(first)

#中上の３×３をsecondとする
second = [suudoku[0][3],suudoku[0][4],suudoku[0][5],
         suudoku[1][3],suudoku[1][4],suudoku[1][5],
         suudoku[2][3],suudoku[2][4],suudoku[2][5]]
print(second)

#右上の３×３をthirdとする
third = [suudoku[0][6],suudoku[0][7],suudoku[0][8],
         suudoku[1][6],suudoku[1][7],suudoku[1][8],
         suudoku[2][6],suudoku[2][7],suudoku[2][8]]
print(third)

#左中の３×３をfourthとする
fourth = [suudoku[3][0],suudoku[3][1],suudoku[3][2],
         suudoku[4][0],suudoku[4][1],suudoku[4][2],
         suudoku[5][0],suudoku[5][1],suudoku[5][2]]
print(fourth)

#中中の３×３をfifthとする
fifth = [suudoku[3][3],suudoku[3][4],suudoku[3][5],
         suudoku[4][3],suudoku[4][4],suudoku[4][5],
         suudoku[5][3],suudoku[5][4],suudoku[5][5]]
print(fifth)

#右中の３×３をsixthとする
sixth = [suudoku[3][6],suudoku[3][7],suudoku[3][8],
         suudoku[4][6],suudoku[4][7],suudoku[4][8],
         suudoku[5][6],suudoku[5][7],suudoku[5][8]]
print(sixth)

#左下の３×３をseventhとする
seventh = [suudoku[6][0],suudoku[6][1],suudoku[6][2],
         suudoku[7][0],suudoku[7][1],suudoku[7][2],
         suudoku[8][0],suudoku[8][1],suudoku[8][2]]
print(seventh)

#中下の３×３をeighthとする
eighth = [suudoku[6][3],suudoku[6][4],suudoku[6][5],
         suudoku[7][3],suudoku[7][4],suudoku[7][5],
         suudoku[8][3],suudoku[8][4],suudoku[8][5]]
print(eighth)

#右下の３×３をninethとする
nineth = [suudoku[6][6],suudoku[6][7],suudoku[6][8],
         suudoku[7][6],suudoku[7][7],suudoku[7][8],
         suudoku[8][6],suudoku[8][7],suudoku[8][8]]
print(nineth)

[1, 7, 2, 9, None, None, 8, None, 3]
[9, 5, None, 4, 8, None, None, 1, 7]
[None, 8, 6, None, 3, 7, 9, 5, None]
[None, None, 6, 3, 1, None, None, None, 4]
[None, None, 8, 5, None, None, 7, 9, 1]
[7, 4, None, 2, None, None, 5, 6, None]
[None, 2, None, None, None, None, None, None, None]
[1, None, None, None, None, None, None, 7, None]
[8, None, 5, 6, 1, 9, 3, None, None]

In [5]:
#３×３　該当のエリア判定用
area = [
    [first,first,first,second,second,second,third,third,third],
    [first,first,first,second,second,second,third,third,third],
    [first,first,first,second,second,second,third,third,third],
    [fourth,fourth,fourth,fifth,fifth,fifth,sixth,sixth,sixth],
    [fourth,fourth,fourth,fifth,fifth,fifth,sixth,sixth,sixth],
    [fourth,fourth,fourth,fifth,fifth,fifth,sixth,sixth,sixth],
    [seventh,seventh,seventh,eighth,eighth,eighth,nineth,nineth,nineth],
    [seventh,seventh,seventh,eighth,eighth,eighth,nineth,nineth,nineth],
    [seventh,seventh,seventh,eighth,eighth,eighth,nineth,nineth,nineth],
]

In [6]:
for k in range(0,9):
    while None in suudoku[k]:

        for j in range(0,9):
            retu = []
            for i in range(0,9):
                v = suudoku[i][j]
                retu.append(v)
    
            for i in range(0,9):
                kouho = []
                for num in range(1,10):
                    if not num in suudoku[i]:
                        if not num in retu:
                            if not num in area[i][j]:
                                if not suudoku[i][j] == None:
                                    pass
                                else:
                                    kouho.append(num)
            
                if len(kouho) == 1:
                    for kou_ho in kouho:
                        suudoku[i][j] = kou_ho

In [ ]:
# ループの階層が深くなってしまうと読み辛くなります。
# 読み辛いコードはバグの元ですので、極力工夫してループを減らしましょう

# 一番大きいループですが、後に続く「候補を取得する処理」とループカウンタに依存関係がないので、
# ループを分けた方が見易そうです。
for k in range(0,9):
    while None in suudoku[k]:

        for j in range(0,9):
            
            # ここもリスト内包表記で一行で書けそうですね
            # ここから
            retu = []
            for i in range(0,9):
                v = suudoku[i][j]
                retu.append(v)
            # ここまで
    
            for i in range(0,9):
                # 以下は埋める数の候補を取得する処理で、関数化するとスッキリすると思います
                # ここから
                kouho = []
                for num in range(1,10):
                    if not num in suudoku[i]:
                        if not num in retu:
                            if not num in area[i][j]:
                                if not suudoku[i][j] == None:
                                    pass
                                else:
                                    kouho.append(num)
                # ここまで
            
                if len(kouho) == 1:
                    # lenが1なのでkouho[0]で良いのでは？
                    for kou_ho in kouho:
                        suudoku[i][j] = kou_ho

In [18]:
# こんな感じで書けそうですね

# while True:
    # for j in range(9):
        # 「列に埋まっている数を取得」する関数
        # for i in range(9):
            # 盤面に数が埋まっている場合は次のループへ
            # if not suudoku[i][j] == None: 
                # continue
            # 「候補を取得」する関数
            # if len(kouho) == 1:
                # suudoku[i][j] = kou_ho
    
    # if「盤面が全て埋まっているかどうか判定」する関数 == True :
        # break

In [7]:
df = pd.DataFrame(suudoku)
df

   0  1  2  3  4  5  6  7  8
0  1  7  2  9  5  3  4  8  6
1  9  6  5  4  8  2  1  3  7
2  8  4  3  6  1  7  9  5  2
3  5  9  6  3  2  8  7  4  1
4  3  1  7  5  6  4  2  9  8
5  2  8  4  7  9  1  5  6  3
6  4  2  9  1  3  6  8  7  5
7  7  3  8  2  4  5  6  1  9
8  6  5  1  8  7  9  3  2  4